@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Press Start 2P', cursive;
  align-items: center;
  background-image: url("img/1G1_Maelys_SY_Cadre.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  align-items: end;
  background-color: #f2feff;

  .gif {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .ordi {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  h1{
    font-size: 50px;
    z-index: 10;
    width: 100%;
    text-transform: uppercase;
    margin-left: -15%;
    line-height: 1.5;
    margin-top: 8vh;
  }
}

main {
  display: flex;
  flex-direction: row;
  width: 80%;
  //outline: 1px solid black;
  border-radius: 20px;
  margin: 10vh auto -20vh auto;
  z-index: 10;

  div {
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    //margin-right: 4%;
    margin: 20px;
    border:none;
    height: 10vh;
    width: 100%;
  }

  div:hover {
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  }

  div{
    height:100px ;
    width:15px ;
    background-color: black;
    padding: 5px;
    margin: 10px;
  }

/*
  div:nth-child(1) {
    background-color: pink;
    width: 10px;
    height: 15px;
    border-radius: 10px;
    z-index: 10;
    //border:1px solid black;
    margin: 0;
    padding: 0;
  }

  div:nth-child(2) {
    position: absolute;
    width: 10px;
    height: 100px;
    z-index: 8;
    border-radius: 0 0 10px 10px;
    background-color: rgb(245, 234, 220);
    margin-top: 5px;
    //border:1px solid black;
    padding: 0;
    background-color: red;
  }

 */
}

main:nth-child(1) {
  div:nth-child(2){
    background-color: aqua;
  }
}

footer {
  width: 90%;
  justify-content: center;
  margin: auto;

  button {
    z-index: 10;
    background-color: transparent;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 30px;
    border: none;
    font-family: 'Press Start 2P', cursive;
    border-radius: 20px;
    cursor: pointer;
  }
}